<div class="footer">
  <div class="footer-component">
    <h3 class="footer-header">About</h3>
      <p>Functionality of Shoebi</p>
      <p>Rent a Shoe</p>
  </div>
  <div class="footer-component">
    <h3 class="footer-header">Community</h3>
      <p>Get to know us</p>
      <p>Become a member</p>
  </div>
  <div class="footer-component">
    <h3 class="footer-header">Owner</h3>
      <p>Requirements</p>
      <p>Information</p>
  </div>
  <div class="footer-component">
    <h3 class="footer-header">Support</h3>
      <p>Get help</p>
      <p>Contakt</p>
  </div>
</div>

<h4 id="brand">c 2021 Shoebi, Inc. All rights reserved</h4>

