<h1> My dashboard </h1>

  <h2> My offers </h2>

    <% if user.shoes.empty? %>
      <%= "no offers" %>
    <% else %>
        <% current_user.shoes.each do | shoe |%>
            <%= render 'shared/card', item: shoe %>
    <% end %>

  <h2> My bookings </h2>

  <h2> Shoes I booked </h2>
