<!-- <h1>Rent your shoes!</h1> -->


<div class="banner d-flex align-items-center">
  <%= render 'shared/searchbar' %>
</div>
<div class="container">
  <div class="shoe-cards">
    <% @shoes.each do |shoe| %>
      <%= render 'shared/card', item: shoe %>
    <% end %>
  </div>
</div>

