// body {
//   background-color: lightgray;
// }



// .confirm-button {
//   background-color: white;
//   border: 3px solid #017005;
//   color: #017005;
//   padding: 5px 64px 0px 64px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
//   border-radius: 25px;
//   transition: 1.5s;
// }

// .confirm-button:hover{
//   background-color: #017005; /* Green */
//   border: 3px solid white;
//   color: white;
// }

// .decline-button {
//   background-color: white;
//   color: rgb(221, 83, 33);
//   border: 3px solid rgb(221, 83, 33);
//   padding: 5px 64px 0px 64px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
//   border-radius: 25px;
//   transition: 1.5s;
// }

// .decline-button:hover {
//   background-color: rgb(221, 83, 33); /* Green */
//   border: 3px solid white;
//   color: white;
// }

// /*search bar start*/

// .container {
//   width: 820px;
//   margin: 0 auto;
//   padding: 16px;
// }

// .wrapper {
//   margin: 8px 0;
// }

// .search-container {
//   border-radius: 25px;
//   background-color: white;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: nowrap;
//   padding-left: 5px;
//   justify-content: flex-start;
//   align-content: stretch;
//   align-items: flex-start;
// }


// input {
//   min-width: 20px;
//   padding: 8px;
//   color: rgb(112, 109, 109);
//   margin: 0 4px 0 0;
//   border: none;
//   border-radius: 5px;
//   height: 30px;
// }

// .button {
//   padding: 8px 28px 8px 16px;
//   min-height: 48px;
//   min-width: 10px;
//   word-wrap: nowrap;
//   background: #000;
//   color: #fff;
//   border: 1px solid #fff;
//   border-radius: 25px;
// }

// .button:hover {
//   background-color: white;
//   color: black;
//   border: 1px solid black;
// }

// input { /*the 3 textfields*/
//     margin-top: 10px;
//     order: 0;
//     align-self: auto;
// }

// select {
//   color: rgb(112, 109, 109);
//   border-radius: 25px;
//   border-color:white;
//   margin-top: 14px;
//   order: 0;
//   align-self: auto;
// }

// .search {
//   flex: 2 1 auto;
// }

// .date-from {
//   flex: 1 1 auto;
// }

// .date-to {
//   flex: 1 1 auto;
// }

// .button {
//     order: 4;
//     flex: 0 1 auto;
//     align-self: auto;
// }
/*search bar end*/

.card-container {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  width: 250px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(60,60,60,0.3);
}

img {
  max-height: 150px;
  width: 100%;
}

.center {
  //text-align: center;
  padding-top: 21px;
  padding-bottom: 15px;
}

.center-bottom {
  padding-top: 24px;
  padding-bottom: 9px;
}

.d-flex {
  justify-content: space-between;
}

#location-brand {
  margin: 2px 6px 0px 6px;
}

.title {
  font-weight: 100;
}

.title {
  margin-top: 9px;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

.price-per-day {
  font-weight: lighter;
  font-size: 15px;
  display: inline;
}

.shoe-cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:45px;
  font-weight: bolder;

}

.size {
  padding-top: 3px;
  margin-bottom: 3px;
  font-size: 12px;
  letter-spacing: 2.1px;
  font-weight: lighter;
}

.size-item {
  font-weight:bolder;
  font-size:24px;
  //margin-bottom: 3px;
}

#brand {
font-size: 15px;
font-weight: lighter;
}

#location {
  font-size: 15px;
font-weight: lighter;
}

.year {
  font-size: 18px;
  margin-bottom: 0;
}

.name {
 text-decoration: none;
 color: black;
 font-weight:lighter;
 font-size: 18px;
 transition: 0.9s;
 &:hover {
 font-weight: bolder;
 text-decoration: none;
  };
}


