.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:30px;
  //padding-left: 50px;
  padding-top: 12px;
  margin-top: 30px;
  border: 1px solid gray;
  background-color: white;
  text-align:center;
}
.footer-header {
  font-size: 16px;
  font-weight: bolder;
}

p {
  font-size:9px;
}

#brand {
  font-size: 9px;
  opacity: 0.6;
  text-align: center;
  border: 1px solid gray;
  padding: 3px 0px;
  background-color: white;
}
