.container {
  width: 820px;
  margin: 0 auto;
  padding: 16px;
}

.wrapper {
  margin: 8px 0;
}

.search-container {
  border-radius: 25px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 5px;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}


input {
  min-width: 20px;
  padding: 8px;
  color: rgb(112, 109, 109);
  margin: 0 4px 0 0;
  border: none;
  border-radius: 5px;
  height: 30px;
}

.button {
  padding: 8px 28px 8px 16px;
  min-height: 48px;
  min-width: 10px;
  word-wrap: nowrap;
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
}

.button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

input { /*the 3 textfields*/
    margin-top: 10px;
    order: 0;
    align-self: auto;
}

select {
  color: rgb(112, 109, 109);
  border-radius: 25px;
  border-color:white;
  margin-top: 14px;
  order: 0;
  align-self: auto;
}

.search {
  flex: 2 1 auto;
}

.date-from {
  flex: 1 1 auto;
}

.date-to {
  flex: 1 1 auto;
}

.button {
    order: 4;
    flex: 0 1 auto;
    align-self: auto;
}
